.App {
  text-align: center;
  display: inline;
}

.search-bar {
  width: 50%;
  padding:  10px;
}

.search-button {
  padding: 11px 20px
}

.clear-search-button {
  padding: 11px 20px;
  margin-left: 10px;
}

.user-detail {
  width: 100%;
  height: 100%;
  justify-content: center;
  text-justify: auto;
}

.repo-list {
  margin-top: 15px;
  text-align: center;
}

.recent-search {
  width: 14%;
  padding: 10px;
  position: absolute;
}